* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#light{
    background: #ffffff;
    transition: 0.5s ease all;
    & svg {
        fill: black;
        transition: 0.5s ease all;
    }
    & h3{
        color: #000000;
        transition: 0.5s ease all;
    }
}

#dark{
    background-color: #270038;
    transition: 0.5s ease all;
    & svg{
        fill: white;
        transition: 0.5s ease all;
    }
    & h3{
        color: #ffffff;
        transition: 0.5s ease all;
    }
}

.App{
    margin: 0 auto;
    min-height: 753px;
    & .main_block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.header_app{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    & .block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        & h3{
            font-size: 20px;
            margin:0 auto;
        }
    }
}